<% content_for :page_title do %>
  Rent a desk
<% end %>

<div id="filters">
  <form action="<%= root_path %>" method="get">
    <div class="input">
      <label>Price per month</label>
      <div class="slider-holder">
        <div id="slider"></div>
      </div>
      <input type="hidden" name="min_price" value="<%= params[:min_price] %>">
      <input type="hidden" name="max_price" value="<%= params[:max_price] %>">
    </div>
    <div class="input radios">
      <label><input type="radio" name="desk_type" value="" <% if params[:desk_type].blank? %>checked<% end %>>All desk types</label>
      <label><input type="radio" name="desk_type" value="fixed" <% if params[:desk_type] == "fixed" %>checked<% end %>>Fixed / Permanent</label>
      <label><input type="radio" name="desk_type" value="hotdesk" <% if params[:desk_type] == "hotdesk" %>checked<% end %>>Hot desk</label>
    </div>
    <div class="input boolean">
      <label><input type="checkbox" name="has_full_access" value="1" <% if params[:has_full_access] == "1" %>checked<% end %>>Only 24/7 access</label>
    </div>
    
    <input type="submit" value="Filter spaces" class="button">
  </form>  
</div>

<script>
  var spaces = <%= @spaces.to_json.html_safe %>;
</script>


<div id="map"></div>

