<% content_for :page_title do %>Thanks!<% end %>

<div class="thanks">
  <p>Thanks for adding your company!</p>
  <p>We are going to review your details and add it to the site very soon.</p>
  <p><%= link_to "Back to the looking page", companies_path(city: @city), class: "button" %></p>  
</div>